# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundle
vendor/
.bundle/
Gemfile.lock

# Docker
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
